body{
    padding:0;
    margin:0;
    

}
.footer1{
    background: #a80a12;
}

.footer1 a{
    color:green;
}

#da #fd4{
    background: red;
}

#sf{
    position:absolute;
    background:red;
    z-index:112;
}
#footer{
    position: absolute;
    margin-top:1100px;
    background:#a80a12;
    width:100%;
    float:left;
    box-align:center;
    border-radius:0px;
    padding:20px;
    color:white;
    font-style:monospace;
    box-sizing: border-box;
    z-index:7;
}

@media screen and (max-width:900px)
{
    #footer{
        margin-top:1200px;
    }


}

@media screen and (max-width:600px)
{
    
    #footer{
        margin-top: 1200px;
    }
}