*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

.header{
    background:#ee5253;
    width:100%;
    height:60px;
    position:fixed;
    box-shadow:0 1px 5px 0px black;
    z-index:10;
    }
    
    
    
    .main{
        height:100%;
        margin-top:60px;
        padding:10px 50px;
    }
    
    #sidebarMenu{
    height:100%;
    position:fixed;
    left:0;
    top:0;
    width:250px;
    margin-top:60px;
    background:#2e86de;	
    transform:translateX(-250px);
    transition:tansform 250ms ese-in-out;
    z-index: 1;
    }
    
    
    #opensidebarMenu:checked ~ #sidebarMenu{
        transform:translateX(0px);
    }
    
    .menu{
        list-style:none;
        padding:0;
        margin:0px;
        background:#2e86de;	
    }
    
    .menu li{
        color:#fff;
        margin-left:5%;
        border-bottom:1px solid red;
        line-height:50px;  /*for the space between to li or text*/
        background:#2e86de;	
    }
    
    .menu li a{
    color:#fff;
    display:block;
    text-decoration:none;
    background:#2e86de;	
    
    }
    
    
    .sidebarIconToggle
    {
        
        height:22px;
        width:22px;
        position:fixed;
        z-index:20;
        top:22px;
        left:15px;
        cursor:pointer;
        background:#ee5253;
       
        
    }
    
    .spinner{
        height:3px;
        background:#fff;
        transition:all 0.3s;
    }
    
    .spinner.middle,
    .spinner.bottom{
    margin-top:3px;
    }
    
    
    #opensidebarMenu:checked ~ .sidebarIconToggle >	.spinner.middle{	
    opacity:0;
    }
        
    #opensidebarMenu:checked ~ .sidebarIconToggle >	.spinner.top{	
    transform:rotate(130deg);
    margin-top:9px;
    }
    
    #opensidebarMenu:checked ~ .sidebarIconToggle >	.spinner.bottom{	
    transform:rotate(-130deg);
    margin-top:-9px;
    }